* {
    margin: 0;
    padding: 0;
}
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
h2{
    margin-bottom: 30px;
    text-shadow: 1px 1px 2px #bbb;
    font-size: 30px;
    letter-spacing: 1px;
}
button{
    border: none;
    padding: 15px 25px;
    font-size: 16px;
    font-weight: 400;
    background-color: #000;
    color: #fff;
    cursor: pointer;
    box-shadow: 1px 1px 10px #333;
    transition: all .3s;
}
button:hover{
    background-color: #fff;
    color: #333;
}